body {
   background-color: rgb(0, 0, 0);
}

.counter {
   border: 2px solid rgb(1, 149, 248);
   border-radius: 5px;
   width: 150px;
   font-size: 20px;
   margin: 5px;
}

.example {
   display: grid;
   background-color: rgb(2, 76, 126);
   color: white;
   border-radius: 3px;
}

.screen {
   text-align: center;
   font-size: 30px;
}

.button {
   background-color: rgb(0, 147, 245);
   color: white;
   margin: 5px auto;
   width: 80%;
   border-radius: 5px;
   border: 1px solid white;
}

.locastorageField {
   background-color: rgb(1, 149, 248);
   height: 100%;
   padding: 3px 0;
   
}

.LocalButton {
   background-color: rgb(0, 147, 245);
   color: rgb(202, 199, 199);
   margin: 5px auto;
   border-radius: 5px;
   border: 1px solid rgb(202, 199, 199);
   display: grid;
   padding: 5px;
   width: 90%;
   
}

.LocalButton:active {
   background-color: rgb(2, 76, 126);
}

.button:active {
   background-color: rgb(2, 76, 126);
}