body {
   background-color: rgb(0, 0, 0);
}

.counter {
   border: 2px solid rgb(0, 147, 245);
   border-radius: 5px;
   width: 100px;
   font-size: 20px;
   margin: 5px;
}

.example {
   display: grid;
   background-color: rgb(2, 76, 126);
   color: white;
   border-radius: 3px;
}

.screen {
   text-align: center;
   font-size: 30px;
}

.button {
   background-color: rgb(0, 147, 245);
   color: white;
   margin: 5px auto;
   width: 80%;
   border-radius: 5px;
   border: 1px solid white;
}

.button:active {
   background-color: rgb(2, 76, 126);
}